* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141414;
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141414;
  font-family: "Open Sans", sans-serif;
}

.img-nav {
  display: flex;
  align-items: center;
}
.img-nav .logotipo {
  font-family: "Bebas Neue", cursive;
  color: #E50914;
  font-weight: normal;
  font-size: 50px;
}

.menu-nav a {
  color: #aaa;
}

.portada {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/portada1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
}

.navbar {
  padding: 0;
  margin: 0;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.portada .titulo-portada {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.boton {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.12em;
}

.boton:hover {
  background: #fff;
  color: #000;
}

.peliculas-recomendadas {
  margin-bottom: 70px;
}

.contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.indicadores button {
  background: #fff;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.indicadores button:hover,
.indicadores button.activo {
  background-color: red;
}

.flecha-izq,
.flecha-der {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  /*top: calc(50%);*/
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}

.flecha-izq:hover,
.flecha-der:hover {
  background: rgba(0, 0, 0, 0.9);
}

.flecha-izq {
  left: 0;
}

.flecha-der {
  right: 0;
}

.titulo-carousel {
  font-size: 30px;
  color: #fff;
}

.contenedor-carousel {
  width: 100%;
  padding: 25px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
}

.pelicula {
  min-width: 20%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.pelicula img {
  width: 100%;
  vertical-align: top;
}

.pelicula.hover {
  transform-origin: center;
  transform: scale(1.2);
}

/*mediaQ de portada*/
@media only screen and (max-width: 578px) {
  .portada {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/portada1.jpg);
    background-position: 80% 20%;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
  }
}
/*fin de mQ de portada*/
@media only screen and (max-width: 800px) {
  .contenedor-carousel {
    overflow: visible;
  }

  .carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .indicadores, .flecha-der, .flecha-izq {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
