.peliculas-recomendadas {
    display: none;
    margin-bottom: 70px;
}
.contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
}
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.flecha-izq, .flecha-der{
position: absolute;
border: none;
background: rgba(0,0,0, 0.3);
font-size: 40px;
height: 50%;
top: calc(50%);
line-height: 40px;
width: 50px;
color: #fff;
cursor: pointer;
z-index: 500;
transition: .2s ease all;
}
.flecha-izq:hover, .flecha-der:hover{
    background: rgba(0,0,0, 0.9);
}
.flecha-izq {
    left: 0;    
}
.flecha-der {
    right: 0;
}
